<%
  def kml_icon(doc, id, path)
    doc.Style(:id=>id) do |cb|
      cb.IconStyle do |i|
        i.Icon do |icon|
          icon.href path
        end
      end
    end
  end

  xml = Builder::XmlMarkup.new(:indent => 1)
  xml.instruct!
  to_s = xml.kml("xmlns"=>"http://earth.google.com/kml/2.2") do |kml|
    kml.Document do |doc|
      doc.name "Premium Cola Addressen"
      doc.description ""

      kml_icon(doc, "lc", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_laden_cola.png")
      kml_icon(doc, "lb", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_laden_bier.png")
      kml_icon(doc, "lcb", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_laden_cola_bier.png")

      kml_icon(doc, "c", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_haendler_cola.png")
      kml_icon(doc, "b", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_haendler_bier.png")
      kml_icon(doc, "cb", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_haendler_cola_bier.png")

      kml_icon(doc, "s", "http://www.premium-cola.de/neu/maps/marker/p_gmicon_sprecher.png")

      @addresses.each do |address|
        doc.Placemark do |place|
          name = "#{address.first_name} #{address.last_name}".strip
          name += " - " if name.length > 0 && !address.company.blank?
          name += address.company
          place.name name
          place.description do |desc|
            d = []
            if @tag != "speakers"
              d << address.street
              d << "#{address.zipcode} #{address.city}".strip
              d << "&nbsp;"
              d << "Tel : #{address.telephone}" unless address.telephone.blank?
            end
            d << "<a target='_blank' href='#{address.web}'>#{address.web}</a>" unless address.web.blank?
            d << "<a href='mailto:#{address.email}'>#{address.email}</a>" unless address.email.blank?

            d = d.delete_if {|d| d.blank?}

            desc.cdata! d.join "<br/>"
          end
          if @tag == "speakers"
            place.styleUrl "#s"
          elsif @tag == "locations"
            if address.tag_list.include?("PC") && address.tag_list.include?("PB")
              place.styleUrl "#lcb"
            elsif address.tag_list.include? "PC"
              place.styleUrl "#lc"
            elsif address.tag_list.include? "PB"
              place.styleUrl "#lb"
            end
          elsif @tag == "dealers"
            if address.tag_list.include?("PC") && address.tag_list.include?("PB")
              place.styleUrl "#cb"
            elsif address.tag_list.include? "PC"
              place.styleUrl "#c"
            elsif address.tag_list.include? "PB"
              place.styleUrl "#b"
            end
          end
          place.Point do |p|
            p.coordinates "#{address.longitude},#{address.latitude},0"
          end
        end
      end
    end
  end
%><%= to_s.html_safe %>
